﻿@{

    var path = Server.MapPath("~/../BinariesDownloads");
    var pageModel = ModuleCollector.GetModuleCode(path);
    
}<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xml:base="http://services.odata.org/Northwind/Northwind.svc/" xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices" xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom">
    <title type="text">@pageModel.Title</title>
    <updated>@pageModel.Updated</updated>
    <link rel="self" title="@pageModel.Title" href="@pageModel.Title" />
    @Html.Raw(pageModel.ModulesCode)
</feed>